backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
boto==2.44.0
bs4==0.0.1
certifi==2018.11.29
chardet==3.0.4
cmudict==0.4.2
crcmod==1.7
cryptography==1.7.1
DateTime==4.3
enum34==1.1.6
future==0.17.1
futures==3.2.0
google-compute-engine==2.8.12
grpc==0.3.post19
grpcio==1.17.1
grpcio-tools==1.17.1
idna==2.8
ipaddress==1.0.17
keyring==10.1
keyrings.alt==1.3
msgpack-python==0.5.6
nltk==3.4
oauthlib==2.1.0
protobuf==3.18.3
pyasn1==0.1.9
pycrypto==2.6.1
pygobject==3.22.0
python-twitter==3.5
pytz==2018.9
pyxdg==0.25
requests==2.21.0
requests-oauthlib==1.1.0
SecretStorage==2.3.1
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.7
urllib3==1.24.1
zope.interface==4.6.0
